<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Company Name"
        [(ngModel)]="company"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchCompany()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Device List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let device of devices; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveDevice(device, i)"
      >
        {{ device.company }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllDevices()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentDevice">
      <h4>Device</h4>
      <div>
        <label><strong>Company:</strong></label> 
        {{ currentDevice.company }}
      </div>
      <div>
        <label><strong>Model</strong></label>
        {{ currentDevice.model }}
      </div>
      <!-- <div>
        <label><strong>Model</strong></label>
        {{ currentDevice.model }}
      </div>
      <div>
        <label><strong>Product ID</strong></label>
        {{ currentDevice.productid }}
      </div>
      <div>
        <label><strong>Warranty</strong></label>
        {{ currentDevice.warranty }}
      </div> -->
      <a class="badge badge-warning" routerLink="/devices/{{ currentDevice._id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentDevice">
      <br />
      <p>Please click on a Device...</p>
    </div>
  </div>
</div>

